html, body{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f1f1f1;

    /* transition: 0.5s; */
}
.nav-bar{
    background-color: #ffff;

    height: 4.8vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 2vh;
    justify-content: space-between;
}
.title{
    transition: 0.5s;
    font-size: 24px;
    color: #1E0E62;
    font-weight: 700;
}
.buttonEmail{
    border: grey 1.5px solid;
    background-color: #ffff;
    padding: 8px; 
    font-size: 16px;
    font-weight: 600;
    color:#1E0E62;
    padding-left:20px;
    padding-right: 20px;   
    border-radius: 100px
}
.title-name{
    margin-top: 5vh;
    align-self: center;
    line-height: 50px;
    font-size: 43px;
    color: #1E0E62;
}
.about{
    display: flex;
    flex-direction: column;
}
.box-img{
    display: flex;
    justify-content: center;
}
.img-me{
    width: 320px;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 10vh;
    box-shadow: 0 3px 5px #000000;
}
.definition_about_me{
    margin: 1vh;
    color:rgba(21, 20, 57, 0.4);
    line-height: 30px;
    padding: 3vh;
    text-align: center;
    font-size: 22px;
}
.habilidades{
    /* background-color: rgba(242, 232, 219, 0.434); */
    display: flex;
    flex-direction: column;
}
.sub-title{
    font-size: 48px;
    margin-left: 5vh;
    margin-bottom: 0vh;
    color: #1E0E62;
}
.habs-conteiner{
    margin: 10vh;
    display: flex;
    flex-direction: column;
}
.habs-card{
    /* border:1px solid red; */
    margin-bottom: 10vh;
}
.habs-title{
    color:#1E0E62;
    font-weight: 300;
    font-size: 24px;
    margin-top: 2vh;
}
a{
    text-decoration: none;
}


.habs-def{
    color:  rgba(21, 20, 57, 0.4);
    font-size: 18px;
    line-height: 30px;
    /* margin-bottom: 3vh; */
}
.contacto-git{
    align-self: center;
}
.experiencia{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}
.contacto-git{
    background-color: #25DAC5;
    padding: 1vh;
    color: white;
    border-radius: 100px;
    border: none;
    width: 40vh;
    height: 8vh;
    font-size: 18px;
    font-weight: 300;
}
.contacto-git:hover{
    background-color: #83e4d9;
}
.work-container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;

}
.card-work{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    border-radius: 15px;
    transition: 3000;

}
.img-exp{
    width:95%;
    align-self: center;
    margin-top: 2vh;
    border-radius: 25px;
    box-shadow: 0 3px 5px #130942;
}
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh;
    font-size: 24px;
}
.icon{
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 5vh;
}
.contac-mail{
    color:#482BE7 ;
}
.contac-inf{
    margin: 2vh;
    color: #1E0E62
}
/* ----------------------------------------------------------------------------------- */
/* AQUI comienza la pantallas grandes ----------------------------------------------------------------- */
@media screen and (min-width: 900px){
    html, body {
        transition: 0.3s;
    }
    
    .about-up{
        display: flex;
        padding: 20vh;
        padding-top: 10vh;
        gap: 5vh;
    }

    .img-me{
        width: 500px;
        border-radius: 15px;
        align-self: center;
        margin-bottom: 10vh;
        box-shadow: 0 3px 5px #000000;
    }


    .definition_about_me{
        margin: 1vh;
        color:rgba(21, 20, 57, 0.4);
        line-height: 30px;
        padding: 3vh;
        text-align: center;
        font-size: 15px;
    }
    .habilidades{
        display: flex;
        flex-direction: column;

    }
    .sub-title{
        font-size: 48px;
        margin-left: 5vh;
        margin-bottom: 0vh;
        color: #1E0E62;
        text-align: center;
    }
    .habs-conteiner{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: row;

    }
    .habs-card{
        width: 40vh;
        margin-bottom: 10vh;
    }
    .habs-title{
        color:#1E0E62;
        font-weight: 300;
        font-size: 24px;
        margin-top: 2vh;
    }
     
    .habs-def{
        color:  rgba(21, 20, 57, 0.4);
        font-size: 12px;
        line-height: 15px;
        /* margin-bottom: 3vh; */
    }
   
    .experiencia{
        background-color: #ffff;
        display: flex;
        flex-direction: column;
    }
    .contacto-git{
        background-color: #25DAC5;
        padding: 1vh;
        color: white;
        border-radius: 100px;
        border: none;
        width: 40vh;
        height: 8vh;
        font-size: 18px;
        font-weight: 300;
    }
    .contacto-git:hover{
        background-color: #83e4d9;
    }
    .work-container{

        margin-top: 5vh;
        display: flex;
        flex-direction: row;
    
    }
    .card-work{
        transition: 3000;
        width: 350px;
        border: none;
        margin: 2vh;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        padding: 2vh;
        border-radius: 15px;
    }
    .img-exp{
        
        align-self: center;
        margin-top: 2vh;
        border-radius: 25px;
        /* box-shadow: 0 3px 5px #130942; */
    }
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh;
        font-size: 24px;
    }
    .icon{
        margin-left: 2vh;
        margin-right: 2vh;
        margin-top: 5vh;
    }
    .contac-mail{
        color:#482BE7 ;
    }
    .contac-inf{
        margin: 2vh;
        color: #1E0E62
    }
    

}